html, body, div, ul {
	margin: 0;
	padding: 0;
}

body {
    color: #262626;
	background: rgba(255,255,255,.5);
	font: normal 12px/18px Verdana, sans-serif;
}

#content {
	max-width: 400px;
	width:100%;
	margin: 40px auto 0 auto;
	padding: 0 60px 30px 60px;
	border: solid 1px #cbcbcb;
	background: #fafafa;
	-moz-box-shadow: 0px 0px 10px #cbcbcb;
	-webkit-box-shadow: 0px 0px 10px #cbcbcb;
}

h1 {
	margin: 0px 0 15px 0;
	font-size: 30px;
	font-weight: bold;
	font-family: Arial;
}

h1 span {
	font-size: 50%;
	letter-spacing: -0.05em;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #E5E5E5;
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;
	padding: 7px 0;
}

a {
	outline: none;
}

a img:not(.workoutimg){
	border: 1px solid #BBB;
	padding: 2px;
	margin: 10px 20px 10px 0;
	vertical-align: top;
}

a img.last {
	margin-right: 0;	
}

ul {
	margin-bottom: 24px;
	padding-left: 30px;
}



.twox{
text-align:center;
font-size:20pt;
padding:20px;

}

.seconds-timer-container{
margin:auto;
}

.seconds-timer-container h3:first-child{
display:none;
}

.seconds-timer-container p:last-child{
display:none;
}
.workoutbox{
	font-size:16pt;
	max-width:100%;

	margin:auto;
	text-align:center;
	vertical-align:center;
}
.time{
width:10%;
display:inline-block;
float:left;
}
.title{
width:55%;
line-height:normal;
display:inline-block;
vertical-align: middle;
float:left;
}
tbody{
	display:inline-block;
	width:100%;
}
table{
	vertical-align:middle;
	border-collapse: collapse;
}
td{
	vertical-align:middle;
}
tr{
	vertical-align:middle;
	display:inline-block;
	width:100%;
}
.workoutimgspan{
width:32.5%;
display:inline-block;
float:left;	
text-align:left;
}
.workoutimg{
height:75px;
}
 .hidden{
 	display:none;
 }
